@font-face {
    font-family: QuickSand_L;
    src: url(./fonts/Quicksand-Light.ttf);
}

@font-face {
    font-family: QuickSand_B;
    src: url(./fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: QuickSand_M;
    src: url(./fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: QuickSand_R;
    src: url(./fonts/Quicksand-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

h4{
    font-family: "QuickSand_M";
    font-size: 1.3em;
    color:#018abe;
    
}

.ImgBruta{
    width: 550px;
    height: 200px;
}

.ImgBruta1{
    text-align: left;
    width: 110px;
    height: 50px;
}

.fuerzaBruta{
    display: inline;
}