.content{
    margin-top: 50px;
}

.inputText{
    text-align: center;
}

.inputText a{
    color: #02457a;
    font-family: "QuickSand_M";
    text-align: center;
    font-size: 1.7em;
    margin: 10px;  
}

/* .caja {
    margin:20px auto 40px auto;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
    
 } */

 select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
 }

 select:focus{ outline: none;}
 
 .caja::after{
     content:"\025be";
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     background-color:#d9d9d9;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
 }

 .polinomio1, .polinomio2
  {
    width: 75px;
    text-align: center;
  border: 1px solid #DBE1EB;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }
  
  .polinomio1, .polinomio2:focus
  {
  color: #2E3133;
  border-color: #FBFFAD;
  }

#head1, #head2, #head3,#head4{
    background-color: white !important; 
}

#centrar{
  text-align: center;
}

/* #show1 li, #show2 li, #show3 li{
  
    display: inline;
    margin: 10px;
    color: #FFFFFF;
    background-color:  #02457a;
    border-radius: 10px;
    padding: 15px;
    font-family: "QuickSand_L";
    font-weight: bold;
    animation-name: Pol1;
    animation-duration: 7s;
    

} */

#show1 li{
  display: inline;
  margin: 10px;
  color: #FFFFFF;
  background-color:  #02457a;
  border-radius: 10px;
  padding: 15px;
  font-family: "QuickSand_L";
  font-weight: bold;
  animation-name: Pol1;
  animation-duration: 5s;
  
}

@keyframes Pol1 {
  from {
    margin-left: 700px;

  }

  to {
    margin-left: 10px;
  }
}


#show2 li{
  display: inline;
  margin: 10px;
  color: #FFFFFF;
  background-color:  #02457a;
  border-radius: 10px;
  padding: 15px;
  font-family: "QuickSand_L";
  font-weight: bold;
  animation-name: Pol2;
  animation-duration: 6s;
  
}

@keyframes Pol2 {
  from {
    margin-left: 700px;

  }

  to {
    margin-left: 10px;
  }

  
}

#MatrizDePolinomios{
  text-align: center;
}

#show3 li{

  display: inline;
  position: relative;
  margin: 10px;
  color: #FFFFFF;
  background-color:  #02457a;
  border-radius: 10px;
  padding: 15px;
  font-family: "QuickSand_L";
  font-weight: bold;
  animation-name: Pol3;
  animation-duration: 10s;
  animation-fill-mode: forwards;
 
}


@keyframes Pol3 {
  from {
   left : 1000px;
  }
  to {
    left: 0px;
  }
}

#show4  li{

  display: inline;
  position: relative;
  margin: 10px;
  color: #FFFFFF;
  background-color:  #02457a;
  border-radius: 10px;
  padding: 15px;
  font-family: "QuickSand_L";
  font-weight: bold;
}

#current-blue{
  background-color: red; /* #97cadb;*/
}