@font-face {
    font-family: QuickSand_L;
    src: url(./fonts/Quicksand-Light.ttf);
}

@font-face {
    font-family: QuickSand_B;
    src: url(./fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: QuickSand_M;
    src: url(./fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: QuickSand_R;
    src: url(./fonts/Quicksand-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------*/    

#despledable{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#desplega{
float: left;
}

#desplega a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


#desplega a:hover, .dropdown:hover .dropbtn {
    background-color: royalblue;
    }

#desplega.dropdown {
        display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: royalblue;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
 display: block;
 }
          
/*-----------------------------------------------------*/  

.imgg{
   display: flex;
   align-items: center;
   justify-content: center;
}

.juntos{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

.titulos{
   display: flex;
   align-items: left;
   justify-content: left;
   margin-left: 20px;
}

.textos{
    width: auto;
    height: auto;
    display: flex;
    background: #f7f5f5; 
    font-weight: bold; 
    padding: 15px; 
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
    }

.textosDos{
    width: auto;
    height: auto;
    background: #f7f5f5; 
    font-weight: bold; 
    padding: 40px; 
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}

ol, li{
    font-family: QuickSand_B;
}

    #primerTitulo{
        color: black;
        text-decoration: none;
    }

    #cooley-tukey{
        margin: 20px;
        text-align: center;
        border-radius: 20px;
        border-left:8px solid #5ed63f;
        border-style: dashed;
      }

    #cooley-tukeyDos{
        margin: 20px;
        text-align: center;
        border-radius: 20px;
        border-left:8px solid #edde40;
        border-style: dashed;
      }
    
    #imgCooleyTukeyDos{
        margin: 20px 20px 20px 100px;
        width: 700px;
        height: auto;
    }

    #imgCooleyTukey{
        margin: 10px;
        width: 600px;
        height: auto;
    }

    #Uno{
      border-radius: 20px;
      margin-left: 50%;
      margin-right: 20px;
      margin-bottom: 50px;
      border-left:8px solid #5ed63f;
      border-style: dashed;
    }

    #Dos{
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 50%;
        margin-bottom: 50px;
        border-left:8px solid #edde40;
        border-style: dashed;
      }

    #Tres{
        border-radius: 20px;
        margin: 20px;
        margin-bottom: 50px;
        border-left:8px solid #edde40;
        border-right:8px solid #edde40;
        border-style: dashed;
      }

      #Cuatro{
        border-radius: 20px;
        margin: 20px;
        margin-bottom: 50px;
        justify-content: center;
        border-left:8px solid #edde40;
        border-right:8px solid #edde40;
        background-color: #e9bf37;
      }

      #Cinco{
        border-radius: 20px;
        margin: 20px;
        margin-bottom: 50px;
        justify-content: center;
        border-left:8px solid #edde40;
        border-right:8px solid #edde40;
        background-color: #50cc2d;
      }

      #imgEquisCuadrada{
          width: 700px;
          height: auto;
          padding: 20px;
      }


